@using Corkboard.Data.DTOs;
@model Corkboard.Models.ViewModels.ServersController.ChatPartialModel

<div id="chat-container"
     data-server-id="@Model.ServerId"
     data-channel-id="@Model.ChannelId">
  <div id="messages" class="messages">
    @foreach (MessageDto message in Model.Messages)
    {
      <p class="sb-message" data-timestamp="@message.Timestamp.ToString("o")">
        <span class="sb-message-header">
          <strong class="sb-message-user">@message.SenderUsername</strong>
          <span class="sb-message-time">@message.Timestamp.ToLocalTime().ToString("MMM d, h:mm tt")</span>
        </span>
        <span class="sb-message-text">@message.Text</span>
      </p>
    }
  </div>

  <form id="message-form" onsubmit="return false;">
    <input id="message-input" type="text" class="sb-form-input" placeholder="Type a message" />
    <button id="send-btn" type="button" class="sb-btn sb-btn-primary">Send</button>
  </form>
</div>

<script src="~/js/signalr/dist/browser/signalr.js" asp-append-version="true"></script>
<script src="~/js/chat.js" asp-append-version="true"></script>